*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color:#efefef;
    --nav-color:#1876f2;
    --post-color:#fff;
    --text-color:#000;
}

.darkModeTheme{
    --body-color:#0a0a0a;
    --nav-color: black;
    --post-color:black;
    --text-color:#fff;
}
body{
    background: var(--body-color);
    transition: background 0.5s;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}


.navbar{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    height: fit-content;
    top: 0;
    z-index: 100;
    
}
.logo{
    width: 140px;
    margin-right:4rem;
    cursor: pointer;
}

.navLeft,.navRight{
    display: flex;
    align-items: center;
}


.navList li{
    list-style: none;
    display: inline-block;
    
}

.navList li img{
    width: 2rem;
    margin-right:2.5rem;
    cursor: pointer;
    
}

.searchBox{

    display: flex;
    background-color: #efefef;
    
    align-items: center;
    width: 20vw;
    border-radius: 2vw;
    padding: 0.5vh 1vw;
    margin-right: 3rem;
}

.searchLogo{
    margin-right: 1.5rem;
  
}

.searchInput{
    background-color: transparent;
    outline: none;
    border:0;
    padding: 0.25rem;
}


.navProfile img{
    width: 3rem;
    border-radius: 50%;
    padding-top: 0.1vh;
    cursor: pointer;
}
.online{
    position: relative;
    margin-right: 1.5rem;
}

.online::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid white;
    background-color: #41db51;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.settingsMenu{
    
    position: absolute;
    top:110%;
    right: 2%;
    background: var(--post-color);
    width: 350px;
    display: none;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
}

.settingsMenu a{
    text-decoration: none;
    color: #1876f2;
}

.settingsMenu .userProfile{
    margin-block: 10px;
}

.settingsMenu hr{
    background-color: #9a9a9a;
    
    width: 90%;
    
    margin: 16px;
    height: 1px;
 
}

.settingsLink{
    display: flex;
    align-items: center;
    margin-block: 12px;
    margin-left: 10px;
   
}

.settingsLink .settingIcon{
 width: 40px;
 margin-right: 12px;
}

.settingsLink a{
    text-decoration: none;
    color: #626262;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.settingsLink a img{
    position: absolute;

    transform: translateX(16vw);
}

#darkMode{
    
    width: 50px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    padding:  5px;
    align-items: center;
    border-radius: 10px;
    background-color: #ccc;
    margin-right: 3vw;
    cursor: pointer;
}
#darkMode span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--post-color);
    
}

#darkMode.darkModeOn{
    background-color: #626262;
}

.darkModeOn span{
    margin-left: 1.2vw;
}

.container{
    display: flex;
    justify-content: space-between;
    
    padding:2% 2%;
}

.sideBarLeft{
    display: inline-block;
    flex-basis: 25%;
    position: sticky;
    top:70px;
    align-self: flex-start;
    height: 100vh;
}

.impLinks a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 2rem;
    width: fit-content;
    color: #626262;
    
}

.impLinks{
    border-bottom: 1px solid lightgrey;
}
.impLinks a img{
    width: 2rem;
    margin-right: 1rem;
}

#seemore{
    color: #1876f2;
}

.shortcutLinks a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #626262;
    margin-bottom: 1vh;
}

.shortcutLinks p{
    color: #626262;
    margin: 10px 0;
}
.shortcutLinks a img{
    width: 50px;
    margin-right: 1.25rem;
    border-radius: 5px;
    
}
.mainContent{
    flex-basis: 46%;
   
}
.sideBarRight{
    flex-basis: 25%;
    background-color: var(--post-color);
    padding: 1rem;
    position: sticky;
    top:7vh;
    height: fit-content;
}

.sideBarTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.sideBarTitle h3{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
    color: var(--text-color);
}

.sideBarTitle a{
    text-decoration: none;
    color: #1876f2;
}

.events{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    
}

.events h4,p,span{
    color: var(--text-color);
}

.leftColumn{
   
    border: 1px solid lightgray;
    border-radius: 0.8vw;
    padding: 1vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0,0.3);
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 5vw;
    height: 12vh;

}

.leftColumn span{
    background-color: #1876f2;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
}
.rightColumn a{
    text-decoration: none;
    color: #1876f2;
    font-weight: 500;

}

.sidebarAds{
    width: 100%;
    border-radius: 1vw;
    margin-bottom: 2rem;
}

.onlineList{
    display: flex;
    align-items: center;
    
}

.onlineList img{
    width: 4vw;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.onlineList .online{

    margin-right: 1rem;
    top: 100% ;
    bottom: 0;

}

.onlineList .online::after{
    content: '';
    top: unset;
    bottom: 3.5vh;
}

.onlineList p{
padding-bottom: 2rem;
}

.stories{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.story{
    flex-basis: 18%;
    padding-top: 30%;
    
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    
}

.story img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    top: 5%;
    border: 2px solid #1876f2;
    left:0.5rem;
}

.story p{
    text-align: center;
    color: white;
    padding-block: 10px;
}
.story1{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./images/status-1.png);
}

.story2{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(./images/status-2.png);
}

.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./images/status-3.png);
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./images/status-4.png);
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./images/status-5.png);
}
.story.story1 img{
    top: unset;
   
    left: 50%;
    bottom: 15%;
    transform:translateX(-50%)
}

.writePostSection{
    background-color: var(--post-color);
    margin-top:2rem;
    padding:2vh;
}
.userProfile{
    display: flex;
    align-items: center;
    
    color: var(--text-color);
    padding:0 0.75rem;
    font-size: 16px;
}

.userProfile img{
    width: 3rem;
    border-radius: 50%;
    margin-right: 10px;
}

.inputWritePost{
    flex-shrink: 0;
    padding-left: 70px;
    padding-top: 20px;
}

.inputWritePost textarea{
    width: 100%;
    border: 0;
    resize: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #ccc;
    color: var(--text-color);
}


.addPostIcons{
    display: flex;
    align-items: center;
    margin-top:20px ;
    margin-left: 70px;
}

.addPostIcons a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
    color: #626262;
    
}

.addPostIcons a img{
    width: 30px;
    margin-right: 10px;
}

.postContainer{
    width: 100%;
    margin-top: 20px;
    background-color: var(--post-color);
    color: #626262;
    padding: 10px;
    border-radius: 5px;
    
}

.postText{
    margin-top: 10px;
    color: #9a9a9a;
    font-size: 16px;
}

.postImg{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.postRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activityIcons{
    display: flex;
    align-items: center;
}

.activityIcons div{
    display: inline-block;
    margin-right: 25px;
    margin-top: 5px;
}
.activityIcons img{
    width: 18px;
    margin-right: 7px;
}
.postProfileIcons {
    display:flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
.postProfileIcons img{
    width: 28px;
    border-radius: 50%;
    margin-right: 2px;
}
.postProfileIcons i{
    align-items: center;
    position: absolute;
    top: 5px;
   
}

.elepsisIcon{
margin-left: auto;
}

.loadMoreBtn{
    cursor: pointer;
    background-color: transparent;
   display: block;
   border: 1px solid #9a9a9a;
   margin: auto;
   padding:10px 16px;
   margin-top: 15px;
   border-radius: 5px;
   color: var(--text-color);
}

.loadMoreBtn:hover{
    background-color: #1876f2;
}

.footer{
    
    color: #626262;
    padding-block:  16px;
    padding-left: 16px;
    text-align: center;
   
}


/* Profile Section */

.profileContainer{
    padding: 2vh 16vw;
    margin-bottom: 10px;
    
}
.profileDetails{
    background-color:var(--post-color);
    margin-top: 2vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.coverImg{
 width: 100%;
 border-radius: 5px;
}

.profileDetailRow{
    display: flex;
    align-items: flex-start;
}

.profileDetailimg{
    width: 120px;
    border-radius: 5px;
    margin-right: 2vw;

}
.profileDetailRow div{
    
    color: var(--text-color);
    
}
.profileDetailRow div h3{
    font-weight: 600;
    font-size: 2vw;
}


.profileDetailRow div img{
    width: 40px;
    border-radius: 50%;
    margin-top:1vh;
    margin-right: 0.2vw;
}

.profileDetailRight{
    text-align: right;
}
.profileDetailRight button{
    
background-color: #1876f2;
border-radius: 5px;
padding: 8px 15px;
margin-left: 8px;
display: inline-flex;
align-items: center;
cursor: pointer;
border: 0;
outline: 0;
color: #fff;
}

.profileDetailRight button:first-child{
    background-color: #e4e6eb;
    color: #000;
}
.profileDetailRight button img{
    height: 20px;
    padding-right: 5px;
}

.profileDetailRight a{
    background-color: #ccc;
    padding: 5px 4px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
}
.profileDetailRight a img{
    width: 30px;
    height: 8px;
}

.profileContent{
    display: flex;
}
.profileLeft{
    flex-basis: 35%;
    background-color: var(--post-color);
    margin-top: 2rem;
    margin-right: 15px;
    height: fit-content;
}
.profileIntro{
    color: var(--text-color);
    margin-bottom: 10px;
    padding: 12px;
}

.profileIntro p{
    margin: 5px;
    text-align: center;
}
.profileIntro img{
    margin-bottom:-5px ;
    width: 20px;
}
.profileInfo ul li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    color:#626262;
}
.profileInfo ul li img{
    width: 30px;
    margin-right:10px ;
}

.profileLeft hr{
    width: 80%;
    margin:1vh 2vw;
    height: 1px;
    
    color: #ccc;
}
.profileRight{
    flex-basis: 65%;
}

.photoBox{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    padding: 10px 15px;
}

.photoBoxTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.photoBoxTitle h3{
    color: #626262;
}
.photoBoxTitle a{
    text-decoration: none;
    color: #1876f2;

}
.photoBox div img{
    width: 100px;
    border-radius: 5px;
}

.friendList{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.friendList a{
    text-decoration: none;
    color: #1876f2;
}

.friendListBox{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 15px;
    padding: 15px;
}

.friendListBox div img{
    width: 100px;
    border-radius: 5px;
    margin-right: 10px;
}



/* Media query */

@media (max-width:900px){
    nav{
        flex-wrap: wrap;
        padding: 10px;
    
    }
    .searchBox{
        display: none;
    }
    .logo{
        width: 80px;
        margin-right: 1rem;
    }
    .navLeft, .navRight{
        flex-wrap: wrap;
    }
    .navList li img{
        width: 1.5rem;
        margin-right: 2rem;
    }
    .navProfile img{
        width: 35px;
    }
    .online::after{
        width: 7px;
        height: 7px;
    }
    .settingsMenu{
        width: 380px;
    }
    .sideBarLeft,.sideBarRight{
        display: none;
    }
    .mainContent{
        padding: 0;
    }
    .stories{
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .story{
        width: 20px;
        height: 150px;
    }
    .story img{
        width: 25px;
    }
    .story p{
        margin-top: 20px;
        font-size: 10px;
        padding: 0 5px;
    }
    .story.story1 img{
        bottom: 22%;
    }
    .mainContent{
        flex-basis: 100%;
        flex-wrap: wrap;
        padding: 5px 10px;
    }
    .userProfile{
        padding-left: 0;
    }
    .inputWritePost{
        padding-left: 0;
    }
    .userProfile div p{
        font-size: 16px;
    }
    .userProfile div small{
        font-size: 12px;

    }
    .addPostIcons{
        flex-wrap: wrap;
        margin-left: 0;
    }
    .addPostIcons a{
        font-size: 12px;
        margin-right: 10px;
    }
    .addPostIcons a img{
        width: 18px;
        margin-right: 4px;
    }

    .loadMoreBtn:hover{
        background-color: #1876f2;
    }

    .footer{
        flex-wrap: nowrap;
    }
}


/* Profile Section Media Query */

@media (max-width:800px)
{
    body{
        overflow-x: hidden;
    }

   

    .navProfile > img{
        margin-left: 10px;
    }
   
    .navList li img {
        margin-right: 5vw;
      }
      .online {
        margin-right: 1rem;
      }
    .darkModeOn span{
        margin-left: 5.2vw;
    }
    
    .settingsMenu{
        width: 95vw;
    }
    .coverImg{
        width: 95%;
        flex-wrap: wrap;
        
    }

    .profileContainer{
        padding: 10px; 
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .profileContent{
        max-width: 95%;
        flex-basis: 100%;
       
    } 
    .profileDetails
    {
        max-width: 95%;
        flex-wrap: wrap;
    }
    .mutualFriendsImg{
        display: flex;
    }
    .profileDetailRow div img{
        width: 30px;
    }
    .profileDetailRight{
        max-width: 95%;
        margin-top: 20px;
        text-align:start;
    }
    .profileDetailRight button{
        margin-left: 0;
        margin-right: 10px;
    }
    .profileContent{
        max-width: 100%;
        flex-wrap: wrap;
    }
    .profileLeft{
        max-width: 100%;
        margin-right: 0;
    }
    .profileLeft hr{
        width: 90%;
        margin-left: 20px;
        height: 1px;
        
        color: #ccc;
    }
    .profileRight,.profileLeft{
        
        flex-basis: 100%;
        flex-wrap: wrap;
        padding: 10px;
        margin-right: 10px;
    }

    .profileRight{
        max-width: 99%;
        padding: 0;
    }
    .writePostSection{
        width: 100%;

    }
    .photoBox{
        padding: 0 8px;
       flex-wrap: wrap;
       flex-basis: 100%;
       justify-content: space-around;
    }
    .photoBox div img{
        width: 80px;
    }
    .friendListBox{
        justify-content: space-around;
    }
    .friendListBox div img{
        width: 80px;
    }
   
    .photoBoxTitle{
        padding: 10px;
    }
  
}

